/* Глобальне правило для правильного розрахунку розмірів */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 430px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 160px;
    margin: 0 auto;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* header */
.header-section .container {
  padding: 18px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-list {
  display: none;
}

.header-btn {
  display: none;
}

.header-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  background-color: transparent;
  border: none;
}

.header-menu-link {
  fill: transparent;
  stroke: #fff;
}

@media screen and (min-width: 1440px) {
  .header-section .container {
    padding: 24px 160px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
  }

  .header-logo {
    width: 210px;
    height: 24px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-item-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #fff;
  }

  .header-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 999px;
    padding: 16px 32px;
    width: 164px;
    height: 56px;
    background: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #000;
    padding: 16px 32px;
    white-space: nowrap;
  }

  .header-menu {
    display: none;
  }
}

/*--- Main --- */

.works-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}

.works-second-title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  width: 340px;
  margin-bottom: 54px;
}

.works-second-title-color {
  color: #f81616;
}

/* --- Стилі для сітки карток --- */
.works-grid {
  display: flex;
  flex-wrap: wrap; /* Дозволяємо елементам переноситись на новий рядок */
  gap: 50px;
}

/* --- Стилі для картки роботи --- */
.work-card {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}

.work-card img {
  display: block;
  max-width: 378px;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  transition: transform 0.4s ease;
}

.work-card:hover img {
  transform: scale(1.05);
}

/* Нові стилі для тексту на картці */
.card-text {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  text-align: right;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
}

.card-text h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2px 0;
  color: #fff;
}

.card-text span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
}

/* --- Стилі для кнопки "Показати більше" --- */
.load-more-button {
  display: block;
  margin: 40px auto 0;
  padding: 6.5px 32px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.03em;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #343839;
  border-radius: 999px;
  width: 402px;
  height: 37px;
  background-color: transparent;
  text-align: center;
}

.load-more-button:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (min-width: 768px) {
  .works-second-title {
    width: 100%;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }

  .work-card img {
    max-width: 668px;
  }

  .card-text h3 {
    font-size: 24px;
  }

  .card-text span {
    font-size: 16px;
  }

  .load-more-button {
    width: 668px;
    height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .work-card img {
    max-width: 1120px;
  }

  .load-more-button {
    width: 1120px;
  }
}

/* footer */

.footer-section {
  padding-top: 30px;
}

.footer-logo-block {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.footer-nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  color: #fff;
}

.footer-list-media {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 60px;
}

.footer-item-media {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  fill: transparent;
  stroke: #000;
}

.footer-addres-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.footer-addres-link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  color: #fefefe;
}

.footer-privacy {
  border-top: 1px solid #343839;
  padding: 16px 0px;
}

.footer-privacy-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #6c7275;
  margin-bottom: 30px;
}

.footer-privacy-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-privacy-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #6c7275;
}

@media screen and (min-width: 1440px) {
  .footer-nav-list {
    flex-direction: row;
  }

  .footer-list-media {
    flex-direction: row;
  }

  .footer-addres-list {
    flex-direction: row;
  }

  .footer-privacy {
    display: flex;
    justify-content: space-between;
  }

  .footer-privacy-text {
    margin-bottom: 0;
  }
}
