body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 430px;
  padding: 0 26px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 160px;
    margin: 0 auto;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* header */
.header-section .container {
  padding: 18px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-list {
  display: none;
}

.header-btn {
  display: none;
}

.header-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  background-color: transparent;
  border: none;
}

.header-menu-link {
  fill: transparent;
  stroke: #fff;
}

@media screen and (min-width: 768px) {
  .header-section .container {
    padding: 22px 48px;
  }
}

@media screen and (min-width: 1440px) {
  .header-section .container {
    padding: 24px 160px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
  }

  .header-logo {
    width: 210px;
    height: 24px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-item-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #fff;
  }

  .header-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 999px;
    padding: 16px 32px;
    width: 164px;
    height: 56px;
    background: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #000;
    padding: 16px 32px;
    white-space: nowrap;
  }

  .header-menu {
    display: none;
  }
}

/* Section one */
.main-title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  width: 308px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.main-title-color {
  color: #02a8ff;
}

.main-container-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.main-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #fff;
  width: 350px;
}

.main-btn {
  display: flex;
  border-radius: 999px;
  padding: 16px 32px;
  width: 201px;
  height: 56px;
  background: #fff;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.main-text-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #000;
}

.arow-icon {
  fill: transparent;
  stroke: #000;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 64px;
    line-height: 1.06;
    letter-spacing: -0.03em;
    width: 100%;
  }

  .main-title-color {
    display: block;
  }

  .main-text {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
}

/* Section two */

.service-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.service-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.24;
  color: #d4d5d5;
  margin-bottom: 24px;
}

.service-photo-title {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.service-photo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.service-photo-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #fff;
}

.service-item-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.24;
  color: #fff;
  opacity: 0.85;
  padding: 0 20px;
}

.service-smm-title {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.service-smm-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.service-smm-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #fff;
}

.service-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.24;
  color: #fff;
  opacity: 0.85;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .service-main-title {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.06em;
  }

  .service-item-title {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.15em;
  }

  .service-list-title {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.15em;
  }
}

@media screen and (min-width: 1440px) {
  .service-photo {
    display: flex;
    gap: 70px;
  }

  .service-photo-title {
    text-align: left;
  }

  .service-smm {
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
  }

  .service-smm-title {
    text-align: left;
  }
}
/* Section three */

.auxiliary-text-white {
  overflow: hidden;
  white-space: nowrap;
  background: #fefefe;
  width: 100vw;
  height: 35px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-left: calc(-50vw + 50%);
  position: relative;
  margin-bottom: 58px;
}

.auxiliary-text-line {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: scroll-auxiliary-text-white 20s linear infinite;
}

.auxiliary-text-line-span {
  display: inline-block;
  padding-right: 2rem;
  font-family: "DM Serif Display", serif;
  font-size: clamp(24px, 5vw, 40px);
  color: black;
}

@keyframes scroll-auxiliary-text-white {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.auxiliary-back {
  background-image: url("/img/home/background-six.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  height: 384px;
  background-color: #000;
  padding: 25px;
}

.auxiliary-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 38px;
}

.auxiliary-title-color {
  color: #05b178;
}

.auxiliary-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 38px;
  color: #fefefe;
}

.auxiliary-btn {
  display: flex;
  border-radius: 999px;
  padding: 16px 32px;
  width: 179px;
  height: 56px;
  background: #fff;
  gap: 8px;
}

.arow-icon {
  fill: transparent;
  stroke: #000;
}

.auxiliary-text-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #000;
}

@media screen and (min-width: 768px) {
  .auxiliary-text-white {
    height: 50px;
  }

  .auxiliary-back {
    width: 668px;
    height: 411px;
  }

  .auxiliary-title {
    font-size: 52px;
    width: 362px;
  }

  .auxiliary-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .auxiliary-text-white {
    height: 120px;
    padding: 41px 0;
    margin-bottom: 0px;
  }

  .auxiliary-back {
    width: 1120px;
    height: 411px;
    padding: 40px 52px;
  }

  .auxiliary-title {
    font-size: 68px;
    width: 400px;
    margin-bottom: 24px;
  }

  .auxiliary-text {
    font-weight: 500;
    font-size: 20px;
    width: 550px;
    margin-bottom: 24px;
  }
}

/* Footer */

.footer-section {
  padding-top: 30px;
}

.footer-logo-block {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.footer-nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  color: #fff;
}

.footer-list-media {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 60px;
}

.footer-item-media {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  fill: transparent;
  stroke: #000;
}

.footer-addres-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.footer-addres-link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  color: #fefefe;
}

.footer-privacy {
  border-top: 1px solid #343839;
  padding: 16px 0px;
}

.footer-privacy-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #6c7275;
  margin-bottom: 30px;
}

.footer-privacy-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-privacy-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #6c7275;
}

@media screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 26px;
    line-height: 1.46;
  }

  .footer-privacy {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }

  .footer-privacy-text {
    margin-bottom: 0;
  }

  .footer-privacy-list {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-nav-list {
    flex-direction: row;
  }

  .footer-list-media {
    flex-direction: row;
  }

  .footer-addres-list {
    flex-direction: row;
  }

  .footer-privacy {
    display: flex;
    justify-content: space-between;
  }

  .footer-privacy-text {
    margin-bottom: 0;
  }
}
